<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.RoleResourcesMapper">
  <resultMap id="BaseResultMap" type="com.study.model.RoleResources">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="roleId" jdbcType="INTEGER" property="roleid" />
    <id column="resourcesId" jdbcType="INTEGER" property="resourcesid" />
  </resultMap>
</mapper>